{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container auth mt-5">
    <div class="card form">
        <div class="card-header fs-3">
          Connexion
        </div>
        <div class="card-body">
            <form method="post" >
                <div class="row g-3 align-items-center">
                    <div class="col-md-2">
                        <label for="inputEmail">Email</label>
                    </div>
                    <div class="col-md-10">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    </div>
                    <div class="col-md-2">
                        <label for="inputPassword">Password</label>
                    </div>
                    <div class="col-md-10">
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                        <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                        >
                    </div>
                </div>
                    <div class="checkbox mt-2 mt-3">
                        <label>
                            <input type="checkbox" name="_remember_me">
                            <span>
                                Se souvenir de moi
                            </span>
                        </label>
                    </div>
                    <button class="btn btn-primary mt-3" type="submit">
                        Se connecter
                    </button>
                </form>
            </div>

      </div>
</div>
    {% endblock %}
