{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<section class="container">

    <p>
        Un e-mail a été envoyé qui contient un lien sur lequel vous pouvez cliquer pour réinitialiser.
        Ce lien expirera dans
        {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
</section>
{% endblock %}
