{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <div class="container auth mt-5">
        <div class="card form">
            <div class="card-header fs-3">
                Réinitialiser le mot de passe
            </div>
            <div class="card-body">
                {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div>
                    <p class="py-3">
                        Entrez votre adresse e-mail et nous vous
                        enverrons un lien pour réinitialiser votre mot de passe.
                    </p>
                </div>

                <button class="btn btn-primary">Réinitialiser</button>
            {{ form_end(requestForm) }}
            </div>

          </div>
    </div>


{% endblock %}