@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "navbar.css";

:root{
    --title: #6366f1;
    --bg-home: rgb(180, 180, 252);
    --shadow: 1px 1px 10px rgb(155, 126, 126);
    --padding: 70px 0 30px 0;
    --color-table-border: rgb(24, 24, 208);
    --bg-body: white;
    --footer: rgba(219, 218, 218, 0.404);
    --border-card-premium: rgb(65, 218, 134);
    --font_amatic: 'Amatic SC', cursive;
    --font_roboto: 'Roboto', sans-serif;

    --bleu-principal: #064899;
    --gris-principal: #a6a6a634;
    --red-principal: #CF2C3A;
}

.red{
    color: var(--red-principal)!important;
}

.bg_red{
    background-color: var(--red-principal)!important;
}

.bleu{
    color: var(--bleu-principal)!important;
}

.bg_bleu{
    background: var(--bleu-principal);
}

.gris{
    color: var(--gris-principal)!important;
}

.bg_gris{
    background-color: var(--gris-principal)!important;
}

.mtop{
    margin-top: 130px;
}

*{
    transition: 0.3s!important;
    text-decoration: none!important;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h4, label{
    font-family: var(--font_roboto);
    font-weight: bold;
}

nav a{
    color: black!important;
}

footer ul{
    padding: 0;
    margin-right: 30px;
}

body{
    font-family: 'Tahoma', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-body);
}

section{
    padding: var(--padding);
}

/* Home (page d'accueil) */

.home{
    background: var(--bg-home);
    border-radius: 0 0 400px 0;
    box-shadow: var(--shadow);
}


.home p{
    color: white;
}

.home .title{
    color: blue;
}


.navbar-collapse{
    flex-grow: 0!important;
}

.date{
    font-size: 38px;
    color: black!important;
    font-weight: bold;
}

.date img{
    width: 50px;
    vertical-align: middle;
}

/* template de formulaire*/

.auth{
    padding: 50px 0;
    width: 80%;
}

.form{
    width: 700px;
    max-width: 100%;
    margin: auto;
}

.show-place .swiper-container{
    width: 100%;
    max-width: 100%;
}

.show-place .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

.mySwiper{
    height: 100px;
    width: 100px;
    max-width: 100%;
}

.mySwiper .swiper-slide {
    width: 100%;
    height: 100%;
    padding:0;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

 .swiper-slide img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .mySwiper  .swiper-slide img {
    display: block;
    width: 200px;

    height: 100px;
    object-fit: cover;
  }



/*

.custom-file{
    margin-bottom: -30px;
}

.form_search{
    padding-top: 100px;
}

.form_search form{
    box-shadow: 0 0 5px black;
    padding: 10px;
    width: 800px;
    max-width: 100%;
}

.form_content{
    width: 100%;
    display: flex;
}

.form_content *{
    outline: none;
}

.form_content input{
    flex: 1;
    border: none;
    padding: 3px;
}

.form_content button{
    border: none;
    background: transparent;
}


/* barre de navigation */
nav{
    z-index: 1000;
}

.navbar{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px black;
}

.navbar *{
    color: black;
}


.card-bell{
    width: 100%;
    display: block;
    position: relative;
}
.card-bell img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-bell-body{
    position: absolute;
    top: 0;
    bottom:0;
    text-align: center;
}

.card_img{
    height: 200px;
    object-fit: cover;
    object-position: center;
    -o-object-position: center;
    -moz-object-position: center;
    -o-object-fit: cover;
    -moz-object-fit: cover;
    width: 100%;
}

/*
CAROUSEL
*/

.explor_swiper{
    height: 300px;
}

.explor_swiper img{
    height: 250px;
}

.homeswiper{
    width: 100%;
    height: 600px;
    max-width: 100%;
  }

.homeswiper .swiper-slide{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.explor_swiper .swiper-button-prev:after, .explor_swiper .swiper-button-next:after, .theme .swiper-button-prev:after, .theme .swiper-button-next:after{
    font-size: 20px!important;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
}

.explor_swiper a{
    color: black;
}

.theme img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.theme{
    height: 300px;
}

.theme a{
    height: 200px!important;
    color: black;
}


.form_search{
    background-color: white;
    padding: 10px;
    border-radius: 90px;
    margin: 0 20px;
    box-shadow: 0 0 10px black;
}

.footer{
    background-color: var(--footer);
}

.footer li{
    line-height: 40px;
}

.footer a{
    color: black;
}

.footer_bottom ul li{
    margin: 0 10px;
}

.viewone{
    margin: 50px 0 0px 0;
    padding: 10px ;
    position:relative;
}

.viewone img{
    height: 100%;
}

.viewone .carousel-inner{
    height: 500px;
}

.viewone .carousel-inner img{
    height:500px;
    object-fit: cover;
}

.coup_de_coeur{
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.type_voyageur h1::after{
    content: '';
    height: 3px;
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    background: blue;
    bottom: -20px;
    margin: auto;
}

.type_option .title {
    font-family: 'SimSun-ExtB', Arial, -apple-system, sans-serif;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
}

.type_option{
    padding: 50px;
    border: 3px solid rgba(0, 0, 255, 0.377);
    width: 300px;
    max-width: 100%;
    margin-bottom: 20px;
}


/*FILTER SEARCH*/


@media screen and (min-width: 300px) AND (max-width: 710px)
{
    .place_one .swiper-slide{
        height: 100%;
        width: 100%;
    }

    .viewone .carousel-inner{
        height: 300px;
    }

    .viewone .carousel-inner img{
        height: 300px;
        object-fit: cover;
    }

    .homeswiper{
        height: 500px;
    }
}

@media screen and (max-width: 500px){
    .explor_swiper img, .theme img{
        height: 150px;
    }

    .explor_swiper, .theme{
        height: 200px;
    }
}
/*
END CAROUSEL
*/

/*PLACE*/

.place{
    margin-top: 300px;
}

.place .card .card-body a:hover{
    text-decoration: none!important;
}

.place .card-head{
    overflow: hidden;
}

.place .card:hover img{
   transform: scale(1.2);
   -o-transform: scale(1.2);
   -moz-transform: scale(1.2);

}


.avatar{
    width: 80px;
    height: 80px;
    border-radius: 90%;
    position: relative;
}

#user_avatar{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    width: 80px;
    height: 80px;
    border-radius: 90%;
    opacity: 0;
    z-index: 200;
}

.imgAvatar{
    object-fit: cover;
    object-position: center;
    z-index: 50;

    border-radius: 90%;
    height: 80px;
    width: 80px;
    position: relative;
}

.commentaire img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.flash{
    width: 400px;
}

.alert-msg{
    width: 500px;
    margin: 200px auto 200px auto;
    text-align: center;
}

.marker i{
    margin: auto;
    font-size: 20px;
    color: green;
}

table .left{
    width: 10%;
    border-right: 2px solid var(--color-table-border);
}

table .right{
    min-width: 100px;
    border-left: 2px solid var(--color-table-border);
}

table .middle{
    width: 100%;
    padding-left: 15px;
}

table .categorie_table{
    border: 2px solid var(--color-table-border);
}

.sujet_table{
    box-shadow: 0 0 5px rgba(151, 151, 151, 0.521);
    display: flex;
}

.sujet_table .left{
    width: 150px;
    text-align: center;
}

.sujet_table .center{
    margin: 50px 10px;
}

.show-place{
    padding-top: 60px;
    display: block;
}

.show-place .meteo{
    background-image: linear-gradient(180deg, rgba(249,249,255,0.21900097929796913) 100%, rgba(200,200,222,0.41507941067051823) 100%), url('../galery/clouds.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.show-place .meteo .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.banner{
    height: 400px;
    margin-top: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image:linear-gradient(#2d22ce80, #643c5e5e), url('../banner.jpg');

}

.tabs_user{
    background-color: #444!important;
}

.tabs_user li{
    color: white;
    font-weight: bold;
}

.tabs_user .active{
    background-color: #007b55!important;
}


.profil{
    padding-top: 100px;
}

.profil .description{
    text-align: left;
    width: 500px;
    margin: auto;
}

.profil .profil_header{
    text-align: center;
}

.explor_swiper p, .theme p{
    font-family: var(--font_amatic);
    font-size: 2em!important;
}

.profil .profil_header h1{
    font-family: var(--font_roboto);
    color: #008245;
    font-weight: bold;
    line-height: 40px;
}

.profil .profil_header small{
    color: gray;
}

.profil .profil_header i{
    font-size: 2em;
}

.radio_filter > label > input:target + .radio_filter span{
    background-color: red!important;
}

.radio_filter label{
    position: relative;
    font: 2em;
    font-weight: bold;
    padding: 5px;
}

.form-content{
    width: 600px;
    max-width: 100%;
    margin: auto;
}

.cadeaux .card-headers{
 width:300px;
 height: 150px;
}

.cadeaux img{
    object-fit: cover;
    -o-object-fit: cover;
    -moz-object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}


.premium_header{
    position: relative;
    background-color: var(--bleu-principal);
    border-radius:20px 20px 0px 0px;
}

.premium_header::after{
    content: '';
    width: 0px;
    height: 0px;
    margin-top: 15px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;
    position:absolute;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: var(--bleu-principal) transparent transparent transparent;
}

.card-premium{
    margin: 20px 50px;
}



.premium-footer{
    background-color: var(--bleu-principal);
    padding: 20px 0;
    border-radius: 0 0 20px 20px;
}

.premium_content{
    padding: 20px 10px;
    background: white;
}

.premium_content div{
    padding: 10px 0;
}

.premium_content div:not(:last-child){
    border-bottom: 2px solid rgb(190, 190, 190);
}

.top_margin{
    margin-top: 50px;
}



/*stripe*/

.success_abonnement{
  width: 500px;
  max-width: 100%;
  border: 1px solid rgb(155, 155, 155);
  margin: auto;
}


.mapdiv form{
    margin-top: 100px;
}

.crochet{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 0px;
    background-color:white;
    padding: 10px;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}

.mapdiv{
    position: fixed;
    top:0;
    bottom:0;
    right: 0;
    background-color: white;
    width: 400px;
    z-index: 800;
    overflow-y: auto;
}

.m{
    display: none;
}

@media screen and (max-width: 995px){

    .nav_link{
       flex-direction: column;
       position: fixed;
       top: 100px;
       background-color: white;
       bottom: 0;
       right: 0;
       width: 50%;
       padding: 0 20px;
       box-shadow: 0 10px 10px;
       transform: translateX(250px);
    }

    .open{
        transform: translateX(0px);
    }
}

@media screen and (max-width: 700px){
    .mapdiv{
        display: none;
    }

    .m{
        display: block;
        width: 80%;
    }
}