{% extends 'base.html.twig' %}
{% block title %}Payement réusis{% endblock %}

{% block body %}

<section class="container my-5">
    <div class="success_abonnement">
        <div class="header py-3 text-center bg-primary">
            <h5 class="text-white fw-bold">Votre abonnement [entreprise] à bien été pris en compte</h5>
        </div>
        <div class="content p-3">
            <p>
                Bonjour <strong>{{ user.pseudo }}</strong>,
                La corée vous remercie pour votre abonnement.
                Vous faites partie maintenant des membre premium,
                vous pouvez maintenant accéder aux accès réservé aux membres premium.
                Vous y trouverez du contenus exclusives en avant premiere.
            </p>
        </div>
        <div class="footer bg-info text-center p-4">
            En cas de désabonnement, vous pouvez nous écrire <a href="#" class="text-white">ici</a>
        </div>
    </div>
</section>

{% endblock %}