{% extends 'base.html.twig' %}
{% block title %}Erreur 500{% endblock %}

{% block body %}

<div class="error_page d-flex justify-content-center  align-items-center align-content-center">
    <section class="top_margin text-center">
        <div class="container d-flex align-content-center align-items-center flex-column">
            <div class="left">
                <h1 class="fw-bold bleu">Un problème serveur est apparu, nous sommes entrain de résoudre ce problème</h1>
            </div>
            <div class="right">
                <a href="{{ path('home') }}">Revenir à l'accueil</a>
            </div>
        </div>
    </section>
</div>

    {% endblock %}