
<div class="container emailpost">
    <p >Un utilisateur à répondu à votre post<br>
        <a style="text-align: center;" href=" http://127.0.0.1:8000/sujet/{{ id }}/{{ title }}">Voir le post</a>
    </p>
</div>

<section style="width: 700px; max-width: 100%; margin: auto;">
    <div style="padding: 15px; background-color: #064899;">
        <h3 style="text-align: center; color: white;">Un utilisateur à répondu à votre post</h3>
    </div>
<div class="template_center my-3" style="margin: 20px 0">
    <div style="margin: 20px 0; text-align: center">
        <img width="250"  src="http://127.0.0.1:8000/logo.png" alt="">
    </div>
    <p style="padding: 20px;">Vous avez recus une réponse à votre questionnement cliquer sur le lien pour voir le post</p>
    <a style="text-align: center;" href=" {{ absolute_url(path('sujet_view', {'id': id, 'title' : title} )) }}">Voir le post</a>
</div>
</section>
