
<div class="container emailpost">
    <p style="background-color: orange; font-weight: bold; font-size: 3em; color: white; text-align: center; padding: 20px;">Un utilisateur à répondu à votre post<br>
        <a style="text-align: center;" href=" http://127.0.0.1:8000/sujet/{{ id }}/{{ title }}">Voir le post</a>
    </p>
</div>